@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--clr-dk-text);
  z-index: 1;
  width: 60%;
  max-width: 50%;
}

.title {
  font-size: 4.5em;
  font-weight: 900;
  line-height: 1.2;
  font-family: var(--ft-title);
  margin-bottom: 2rem;
}

.description {
  font-size: 1.5em;
  font-weight: 400;
  font-family: var(--ft-text);
  margin-bottom: 3.25rem;
}

.span{
  color: var(--clr-dk-primary);
}

.contactBtns{
  display: flex;
  gap: 16px;
}

.contactBtn {
  font-size: 1.25em;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--clr-dk-primary);
  color: var(--clr-lt-text);
  padding: 16px 28px;
  border-radius: 8px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.contactBtn:hover{
  background-color: var(--clr-lt-primary);
}

.heroImg {
  width: 40%;
  min-width: 200px;
  z-index: 1;
  animation: floating 3s infinite 0s ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vh;
  min-width: 350px;
  min-height: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vh;
  min-width: 250px;
  min-height: 250px;
  top: 246px;
  right: -25vw;
  border: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 1180px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
}