:root {
  /* Colours */
  --clr-dk-text: #ffffff;
  --clr-lt-text: #0f0f0f;

  --clr-dk-primary: #e6951c;
  --clr-lt-primary: #f8c06b;

  --clr-dk-secondary: #032229;
  --clr-lt-secondary: #fff;

  --clr-dark: #010e11;

  --clr-dk-bg: #010e11;
  --clr-lt-bg: #04152d;

  /* Fonts */
  --ft-title: 'Bungee', sans-serif;
  --ft-text: 'Open Sans', sans-serif;
}