:root {
  /* Colours */
  --clr-dk-text: #ffffff;
  --clr-lt-text: #3a3a3a;

  --clr-dk-primary: #6a7eca;
  --clr-lt-primary: #fff;

  --clr-dk-secondary: #19376d;
  --clr-lt-secondary: #fff;

  --clr-dark: #0b2447;

  --clr-dk-bg: #04152d;
  --clr-lt-bg: #04152d;

  /* Fonts */
  --ft-robot: 'Roboto';
}